@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
    @apply p-0;
    @apply m-0;
    @apply list-none;
    @apply cursor-none;
  }

  html {
    @apply overflow-hidden;
  }

  body {
    @apply bg-charcoal;
    @apply text-jade;
    @apply font-custom;
  }

  h1 {
    @apply text-2xl;
    @apply tracking-wider relative z-[11];
  }
  p {
    @apply relative z-[11];
  }
}

@layer components {
  .shadow {
    text-shadow: -1px 1px 2px rgba(0,0,0,0.65);
  }
  .custom-hover:hover {
    @apply bg-old;
    @apply transition-all;
    @apply duration-500;
    @apply ease-in-out;
  }
  .open {
    @apply h-screen w-screen z-20 absolute;
  }
  .close {
    @apply h-1/2;
  }

  .noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    opacity: 0.8;
    pointer-events: none;
    opacity: 1;
    z-index: 11;
  }

  .noise:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
      will-change: background-position;
    animation: noise 1s infinite alternate;
  }
  
  .lines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0.6;
    will-change: opacity;
    animation: opacity 3s linear infinite;
  }
  
  .lines:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines 0.2s linear infinite;
  }
  @keyframes noise {
    0%,
    100% {
      background-position: 0 0;
    }
    10% {
      background-position: -5% -10%;
    }
    20% {
      background-position: -15% 5%;
    }
    30% {
      background-position: 7% -25%;
    }
    40% {
      background-position: 20% 25%;
    }
    50% {
      background-position: -25% 10%;
    }
    60% {
      background-position: 15% 5%;
    }
    70% {
      background-position: 0 15%;
    }
    80% {
      background-position: 25% 35%;
    }
    90% {
      background-position: -10% 10%;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0.6;
    }
    20% {
      opacity: 0.3;
    }
    35% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
    }
    60% {
      opacity: 0.4;
    }
    80% {
      opacity: 0.7;
    }
    100% {
      opacity: 0.6;
    }
  }

  @keyframes scanlines {
    from {
      background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
      background-size: 100% 4px;
    }
    to {
      background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
      background-size: 100% 4px;
    }
  }

<<<<<<< HEAD
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
=======
>>>>>>> c25c3e45c388e03829c1e1c0397d4cc7d9d32b7e
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
