@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
  background-color: theme('colors.background'); /* Define background color */
  color: theme('colors.primary'); /* Define text color */
}

/* Headings */
h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl text-primary;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

p {
  @apply mb-4 text-secondary; /* Apply text color for paragraphs */
}

a {
  @apply text-dark; /* Apply color for links */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  @apply text-yellow; /* Color on hover */
}

/* Buttons */
button {
  @apply bg-blue-medium text-white py-2 px-4 rounded;
}

button:hover {
  @apply bg-blue-light;
}

/* Containers */
.container {
  @apply mx-auto px-4;
}
