.container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr 1.3fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight";
  height: 100vh;
  width: 100%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
}

.Main {
  grid-area: Main;
  margin-top: 6rem;
  padding: 0 2rem;
  border-right: 1px solid var(--border);
}
.SideLeft {
  grid-area: SideLeft;
  margin-top: 6rem;
  border-right: 1px solid var(--border);
}
.sideRight{
  grid-area: sideRight;
  margin-top: 6rem;
  padding: 0 2rem;
}
