.container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 0.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight"
    "SideLeft Main Main Main sideRight";
  height: 100vh;
  width: 100%;
}

.Main     { grid-area: Main; }
.SideLeft { grid-area: SideLeft; }
.sideRight{ grid-area: sideRight; }
