
.sideRight {
  position: sticky;
  top: 6rem;
  h3 {
    text-align: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin: 0px;
    padding: 8px;
  }
  & a {
    text-decoration: none;
    color: var(--text-link);
  }
}

#toc ul {
  list-style: none;
  margin: 0;
  padding-left: 1.2rem;
}

#toc li {
  margin: 0.2rem 0;
}

#toc a {
  color: #333;
  text-decoration: none;
}
