
.sideRight {
  h3 {
    text-align: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin: 0px;
    padding: 8px;
  }
  & a {
    text-decoration: none;
    color: var(--text-link);
  }
}
